

.form-main {
    margin:0px;
    padding:0px;
    display:inline-block;
    width:231px;
}


.toadd {
    width:100%;
    padding:.2em .5em;
    border:1px solid grey;
    /*margin-top:1em;*/
    text-align:right;
    font-size:1em;
    outline:0;
}


.nav-list {
    position:relative;
}
.nav-list>div {
    height:20px;
    width:20px;
    display:inline-block;
    cursor:pointer;
    margin:0px;
    background-image:url('images/buttonmap.png');
}
.nav-list>div~div {
    margin-left:-3px;
}
.nav-list>div:nth-child(3), .nav-list>div:nth-child(7)  {
    margin-left:8px;
}

.buttonmap {
}
.dump {
    background-position: 0 20px;
}
.dump:hover {
    background-position: 20px 20px;
}
.preload {
    background-position: 0 40px;
}
.preload:hover {
    background-position: 20px 40px;
}

.keep {
    background-position: 0 0;
}
.keep:hover {
    background-position: 20px 0;
}
.keept {
    background-position: 0 180px;
}
.keept:hover {
    background-position: 20px 180px;
}
.nodupes {
    background-position: 0 120px;
}
.nodupes:hover {
    background-position: 20px 120px;
}
.replace {
    background-position: 0 60px;
}
.replace:hover {
    background-position: 20px 60px;
}

.make {
    background-position: 0 140px;
}
.make:hover {
    background-position: 20px 140px;
}
.clear {
    background-position: 0 160px;
}
.clear:hover {
    background-position: 20px 160px;
}
.show {
    background-position: 0 80px;
}
.show:hover {
    background-position: 20px 80px;
}
.hide {
    background-position: 0 100px;
}
.hide:hover {
    background-position: 20px 100px;
}